<div class="container" style="margin:100px 0 100px 0">
<form action="/home/write">
              <div class="form-group">  
                <label for="name">이름</label>
                <input type="text" name="username" class="form-control" id="name" placeholder="이름을 입력해 주세요">
              </div>
              
              <div class="form-group">
                <label for="number">전화번호</label>
                <input type="integer" name="usernumber" class="form-control" id="number" placeholder="전화번호를 입력해 주세요">
              </div>

             <div class="form-group">  
                <label for="password">임시 비밀번호</label>
                <input type="text" name="userpassword" class="form-control" id="userpassword" placeholder="네 자리 숫자를 입력해 주세요">
              </div>
              
              <div class="form-group">
                <label for="user_type">이사 종류</label>
                <input type="text" name="usertype" class="form-control" id="user_type" placeholder="이사 종류를 입력해 주세요">
              </div>
              
              <div class="form-group">  
                <label for="depart">출발지</label>
                <input type="text" name="userdepart" class="form-control" id="depart" placeholder="출발지를 입력해주세요">
              </div>
              
              <div class="form-group">
                <label for="check_week">도착지</label>
                <input type="text" name="userarrive" class="form-control" id="arrive" placeholder="도착지를 입력해주세요">
              </div> 
              
              <div class="form-group">
                <label for="time">날짜</label>
                <div class="row">
                  <div class="col-xs-6">
                    <input type="date" name="userdate" class="form-control" id="date" placeholder="이사 날짜를 입력해주세요">
                  </div>
                  <div class="col-xs-6">
                    <input type="time" name="usertime" class="form-control" id="time" placeholder="이사 시간를 입력해주세요">
                  </div>
                </div>
               
              </div>
              
              <button type="submit" class="btn btn-default">확인</button>
</form>
</div>