<form action="/home/check/" method="POST">
        <div class="form-group">
            <label for="number">핸드폰 번호를 입력해주세요</label>
					 <br><br>
					 <input type="text" name="phone_number2" class="required form-control" placeholder="핸드폰 번호 입력해 주세요">
				    

		</div>
</form>